*.iml
.gradle
/local.properties
/gradle.properties
.idea
/app/prod/release/*
/fastlane/report.xml
.DS_Store
/build
/captures
.externalNativeBuild
.gitsecret/keys/random_seed
fastlane/report.xml
!*.secret
/secure/key.keystore
/secure/google-api.json