*.iml
.gradle
/local.properties
/gradle.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/*
/app/prod/release/*
/fastlane/report.xml
.DS_Store
/build
/captures
.externalNativeBuild
.gitsecret/keys/random_seed
fastlane/report.xml
!*.secret
/secure/key.keystore
/secure/google-api.json